/*
  Project name(项目名称)：CSS_border 
  File name(文件名): t3
  Author(作者）: mao
  Author QQ：1296193245
  GitHub：https://github.com/maomao124/
  Date(创建日期)： 2022/1/27 
  Time(创建时间)： 19:58
  Version(版本): 1.0
  Description(描述)： 无
 */

p {
    width: 100px;
    float: left;
    margin: 5px;
}

.one {
    border: 2px solid green;
}

.two {
    border: 5px double red;
}

.three {
    border: 3px dotted blue;
}
    